{
    "extends": [
      "prettier",
      "eslint:recommended"
     ],
    "plugins": [
      "prettier",
      "handlebars"
    ],
    "parserOptions": {
      "ecmaVersion": 2017,
      "sourceType": "module" 
    },
    "env": {
      "node": true,
      "es6": true,
      "jest": true
    },
    "settings": {
      "import/resolver": {
        "node": {
          "extensions": [".js", ".jsx", ".json"],
          "moduleDirectory": ["node_modules", "src"]
        }
      }
    },
    "rules": {
      "space-before-function-paren": 0,
      "new-cap": 0,
      "prettier/prettier": 2,
      "import/no-unresolved": [2, { "commonjs": true }]
    }
  }