<!DOCTYPE html>   
<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Address Book </title>  
<style>   
Body {  
  font-family: Calibri, Helvetica, sans-serif;  
  background-color: #0083cb;  
  color: white;
}  
button {   
       background-color: lightblue;   
       width: 100%;  
        color: white;   
        padding: 15px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer;   
         }   
 form {   
        border: 3px solid #f1f1f1;
        width: 60%; 
        margin: auto;
    }   
 input[type=text], input[type=password] {   
        width: 100%;   
        margin: 8px 0;  
        padding: 12px 20px;   
        display: inline-block;   
        border: 2px solid lightblue;   
        box-sizing: border-box;   
    }  
 button:hover {   
        opacity: 0.7;   
    }   
  .cancelbtn {   
        width: auto;   
        padding: 10px 18px;  
        margin: 10px 5px;  
    }   
        
     
 .container {   
        padding: 25px;   
        background-color: #0083cb
    }   
</style>   
</head>    
<body>
    <input type="hidden" name="token" value="{{token}}">
    <center> <h1> Address Book </h1> </center>   
    <center> <h3> welcome {{ token }} </h3> </center>
    <a id="logout">Logout</a> 
    <script>
    const action = document.getElementById('logout');
    action.addEventListener('click', ()=>{fetch('/logout', {
  method: 'GET',
  headers: {
    'Content-Type': 'application/json',
    'Authorization': `Bearer ${token}`
  },
  credentials: 'same-origin'
})
.then(response => {
  if (response.ok) {
    sessionStorage.removeItem('token');  // Remove token from session storage
    window.location.href = '/login';  // Redirect to login page
  } else {
    throw new Error('Logout failed.');
  }
})
.catch(error => {
  console.error(error);
});
    });

    </script>
</body>     
</html>